<div class="col-md-12 content-container margin-bottom-10">
    
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <h3 class="red_heading margin-top-10">Candidates</h3>
    </div>
    <div class="col-md-8">
        <button class="btn btn-primary square-btn pull-right"><i class="glyphicon glyphicon-step-backward"></i>Position List</button>
        <button class="btn btn-primary square-btn pull-right margin-right-10"><i class="glyphicon glyphicon-chevron-left"></i>The position</button>        
        
        <div class="form-search pull-right margin-right-10">
            <div class="input-append"> 
                <input type="text" name="q" class="span2 search-query recruitment-search" /><button type="submit" class="btn btn-primary square-btn" style="margin-top: -2px"><i class="glyphicon glyphicon-search"></i></button> 
            </div>
        </div>        
        <div class="clearfix"></div>
        
    </div>    
    
</div>