<div class="col-md-12 content-container margin-bottom-10">
    <div class="col-md-4">
        <h3 class="red_heading margin-top-10">Recruitments</h3> 
    </div>
    <div class="col-md-8">
        <button class="btn btn-primary square-btn pull-right">Recommend Candidate</button>
        
        <div class="btn-group pull-right margin-right-10">
            <button type="button" class="btn btn-primary dropdown-toggle square-btn" data-toggle="dropdown" aria-expanded="false">
                New Position <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:void(0)">Create New</a></li>
                <li><a href="javascript:void(0)">Create from template</a></li>                                
            </ul>
        </div>
        
        <div class="form-search pull-right margin-right-10">
            <div class="input-append"> 
                <input type="text" name="q" class="span2 search-query recruitment-search" placeholder="Snipp or Tag"/><button type="submit" class="btn btn-primary square-btn"><i class="glyphicon glyphicon-search"></i></button> 
            </div>
        </div>        
        <div class="clearfix"></div>
        
    </div>    
</div>