    
<div top-content></div>   
<div class="row">
    <div class="col-sm-8 col-xs-12">
        <div class="row padding-bottom whitte-background">
            <div class="darkbrown col-md-12 fateYellowBackground" ng-show="{{job.job_update}}">
                <h4>update</h4>
            </div>
            <div class="col-md-12">
                <h1>{{job.job_title}}</h1>
                <h3>{{job.department}}</h3>
                <p>{{job.department_description}}</p>
                
                <div class="row">
                    <div class="col-md-12">
                        <h3>Posting link</h3>
                    </div>
                    <div class="col-md-12">
                        <div class="link-box">
                            <a href="{{job.posting_link}}">{{job.posting_link}}</a>
                        </div>
                    </div>
                </div>
                
                <div class="row social-icon">
                    <div class="col-md-12">
                        Share on <a href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i></a>
                        <!-- LinkedIn --> 
                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i></a>
                        <!-- Google+ -->
                        <a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i></a>

                    </div>
                </div>
                
                <div class="row" ng-show="{{job.requirement}}">
                    <div class="col-md-12">
                        <h3>Requirements</h3>
                    </div>
                    <div class="col-md-12">
                        <p>{{job.requirements_description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ui-view="sidebar" class="col-sm-4 col-xs-12"></div>
</div>
