<div class="col-md-12 content-container margin-bottom-10">
    
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
        <h3 class="red_heading margin-top-10">Candidates</h3>
    </div>
    <div class="col-md-8">
        <button class="btn btn-primary square-btn pull-right" ng-click="backToPositionList()"><i class="glyphicon glyphicon-step-backward"></i>Position List</button>
        <button class="btn btn-primary square-btn pull-right margin-right-10" ng-click="backToPosition()"><i class="glyphicon glyphicon-chevron-left"></i>The position</button>        
        
        <div class="form-search pull-right margin-right-10">
            <div class="input-append"> 
                <input type="text" name="q" class="span2 search-query recruitment-search" /><button type="submit" class="btn btn-primary square-btn" style="margin-top: -2px"><i class="glyphicon glyphicon-search"></i></button> 
            </div>
        </div>        
        <div class="clearfix"></div>
        
    </div>    
    
</div>

<div class="col-md-12 col-lg-12 col-sm-12 content-container margin-bottom-10">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h4 class="red_heading">For the post of "Human Resource Manager"</h4>
    </div>
    
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div class="dropdown pull-left">
                <a href="javascript:void(0)" class="dropdown-toggle" id="dropdownMenu1" aria-expanded="true">
                    View recommended only
                    <span><i class="fa fa-chevron-down"></i></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href>Development</a>
                        <a href>Human Resource</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown pull-right">
                <a href="javascript:void(0)" class="dropdown-toggle" id="dropdownMenu1" aria-expanded="true">
                    Sort by name
                    <span><i class="fa fa-chevron-down"></i></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href>Development</a>
                        <a href>Human Resource</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <button class="btn btn-primary square-btn  pull-right">Recommend a candidate</button>
            <button  class="btn btn-primary square-btn pull-right">Generate Report</button>
        </div>
        <div class="clearfix"></div>
        <hr class="border-light"/>
        
    </div>
    
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div ng-include="'templates/job/candidates/_candidate-list.html'"></div>
    </div>
    
    <div class="clearfix"></div>
</div>