<div class="col-md-12 col-lg-12 col-sm-12 margin-bottom-10 margin-top-10">
    <div class="dropdown pull-left">
        <a href="javascript:void(0)" class="dropdown-toggle" id="dropdownMenu1" aria-expanded="true">
            View all departments
            <span><i class="fa fa-chevron-down"></i></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li>
                <a href="javascript:void(0)">Development</a>
                <a href="javascript:void(0)">Human Resource</a>
            </li>
        </ul>
    </div>
    <div class="dropdown pull-right">
        <a href="javascript:void(0)" class="dropdown-toggle" id="dropdownMenu1" aria-expanded="true">
            Sort By Date
            <span><i class="fa fa-chevron-down"></i></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li>
                <a href>Date</a>
                <a href>Recruit End date</a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    
    <hr/>
</div>



<jobs-list model="jobs"></jobs-list>