    
<div top-content></div>   
<div class="row">
    <div class="col-md-8">
        <div class="row padding-bottom whitte-background">
            <div class="darkbrown col-md-12 fateYellowBackground">
                <h4>update</h4>
            </div>
            <div class="col-md-12">
                <h1>Human Resource Manager</h1>
                <h3>HR Department</h3>
                <p>Lorem ipsum dolor sit amet, eget odio dolor, sed fusce sapien a duis etiam a, felis nulla semper, diam turpis rutrum. Gravida ligula, aliquet voluptate justo malesuada vestibulum. Ligula mus lacus. Ultrices habitasse at, libero eros dictum vitae, integer convallis sem lacus ut leo dictum. Orci rutrum interdum mollis non sed hendrerit. Molestie at suscipit, in tempor ut tellus neque, vitae mi pellentesque risus parturient purus, dolor ipsum facilisis. Tristique tellus, nec incididunt elit quisque risus, ut nisl, venenatis consequat pede exercitation. Libero ante wisi fringilla, vehicula a, tincidunt ut neque.</p>
                
                <div class="row">
                    <div class="col-md-12">
                        <h3>Posting link</h3>
                    </div>
                    <div class="col-md-11 link-box">
                        <a href="">http://www.somedomain.com/somelink?id=01234</a>
                    </div>
                </div>
                
                <div class="row social-icon">
                    <div class="col-md-12">
                        Share on <a href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i></a>
                        <!-- LinkedIn --> 
                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i></a>
                        <!-- Google+ -->
                        <a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i></a>

                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <h3>Requirements</h3>
                    </div>
                    <div class="col-md-12">
                        <p>Lorem ipsum dolor sit amet, eget odio dolor, sed fusce sapien a duis etiam a, felis nulla semper, diam turpis rutrum. Gravida ligula, aliquet voluptate justo malesuada vestibulum. Ligula mus lacus. Ultrices habitasse at, libero eros dictum vitae, integer convallis sem lacus ut leo dictum. Orci rutrum interdum mollis non sed hendrerit. Molestie at suscipit, in tempor ut tellus neque, vitae mi pellentesque risus parturient purus, dolor ipsum facilisis. Tristique tellus, nec incididunt elit quisque risus, ut nisl, venenatis consequat pede exercitation. Libero ante wisi fringilla, vehicula a, tincidunt ut neque.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ui-view="sidebar" class="col-md-4"></div>
</div>
