    
<div top-content></div>   
<div class="row">
    <div class="col-md-9">
        <div class="row whitte-background">
            <div class="darkbrown col-md-12 fateYellowBackground">
                <h4>update</h4>
            </div>
            <div class="col-md-12">
                <h1>Human Resource Manager</h1>
                <h3>HR Department</h3>
                <p>Lorem ipsum dolor sit amet, eget odio dolor, sed fusce sapien a duis etiam a, felis nulla semper, diam turpis rutrum. Gravida ligula, aliquet voluptate justo malesuada vestibulum. Ligula mus lacus. Ultrices habitasse at, libero eros dictum vitae, integer convallis sem lacus ut leo dictum. Orci rutrum interdum mollis non sed hendrerit. Molestie at suscipit, in tempor ut tellus neque, vitae mi pellentesque risus parturient purus, dolor ipsum facilisis. Tristique tellus, nec incididunt elit quisque risus, ut nisl, venenatis consequat pede exercitation. Libero ante wisi fringilla, vehicula a, tincidunt ut neque.</p>
                <h3>Posting link</h3>

            </div>
        </div>
    </div>
    <div ui-view="sidebar" class="col-md-3"></div>
</div>
