<div class="col-md-12 content-container">
    <div class="col-md-4">
        <h4 class="red_heading">Recruitments</h4> 
    </div>
    <div class="col-md-8">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <input type="text" name="search" class="recruitment-search">
            <button class="btn btn-primary square-btn"><i class="glyphicon glyphicon-search"></i></button>
        </div>
        
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle square-btn" data-toggle="dropdown" aria-expanded="false">
                New Position <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Create New</a></li>
                <li><a href="#">Create from template</a></li>                                
            </ul>
        </div>
        
        <button class="btn btn-primary square-btn">Recommend Candidate</button>
        
    </div>    
</div>