    
<div top-questionnaires-content></div>   
<div class="row whitte-background">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-9 col-xs-9 padding-top">
                <h3 class="darkbrown position-header">For the post of "{{jobTitle}}"</h3>
                
            </div>
            <div class="col-xs-3 col-md-3 text-center padding-top">
                <custom-toggle-button toggle-button-info="myToggleButtonInfo"></custom-toggle-button>
            </div>
        </div>
        <hr>
    </div>
    <div ng-repeat="question in questions" class="col-sm-12 col-xs-12">
        <p>#{{$index + 1}} {{question.Question}}</p>
        <span ng-repeat="input in question.Input">
            <span ng-switch on="input.Element">
                <span ng-switch-when="rating">
                    <rating class="big-font" ng-model="rate" max="{{input.Limit}}" on-leave="overStar = null"></rating>
                    <span class="big-font">| {{input.Value}}</span>
                </span>
                <span ng-switch-default="">
                    <input name="{{question.QuestionName}}" type="{{input.Type}}"/> {{input.Label}}
                </span>
            </span>
        </span>
        <hr>
    </div>
</div>
