<div class="modal-header custom-modal-header">
    <h3 class="modal-title">Select From Existing</h3>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-12">
            <span class="medium-font">Question Bank</span> <span class="pull-right"><input placeholder="Search" id="searchQuestion"/></span>
            <table class="question-bank row">
                <tr class="col-xs-12">
                    <td>
                        <div class="row">
                            <div class="col-xs-8">How many years of experience you have in the field</div>
                            <div class="col-xs-2">Range</div>
                            <div class="col-xs-2">0-10</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="padding-top col-md-offset-1 col-md-10 col-sm-12">
            <span class="medium-font">Selected</span>
            <table class="question-bank row">
                <tr class="col-xs-12">
                    <td>
                        <div class="row">
                            <div class="col-xs-8">How many years of experience you have in the field</div>
                            <div class="col-xs-2">Range</div>
                            <div class="col-xs-2">0-10</div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-default square-btn" ng-click="cancel()">CANCEL</button>
    <button class="btn btn-primary square-btn" ng-click="addQuestion()">ADD</button>
</div>