<div ng-show="{{job.newCandidate}}" class="col-md-12 col-xs-12 fateYellowBackground darkbrown small-top-padding" >
    <p>{{job.newCandidate}} New Candidates Applied</p> 
</div>
<div class="col-md-12 col-xs-12">
    <div class="pull-left recruitOn"><a href="">Candidates</a></div>
    <div class="pull-right changeRecruit"><button class="btn btn-primary btnQuestionnaires" ng-click="redirectToCandidates()"><span class="glyphicon glyphicon-play"></span></button></div>
</div>
<div class="col-md-12 iterviewQuestion">{{job.selectedCandidate}} selected for interview</div>