<div ng-show="{{job.newQuestion}}" class="col-md-12 col-xs-12 fateYellowBackground darkbrown small-top-padding" >
    <p>{{job.newQuestion}} New Question Added</p> 
</div>
<div class="col-md-12 col-xs-12">
    <div class="pull-left recruitOn"><a href="">Questionnaires</a></div>
    <div class="pull-right changeRecruit"><button class="btn btn-primary btnQuestionnaires" ng-click="redirectToQuestionnaires()"><span class="glyphicon glyphicon-play"></span></button></div>
</div>
<div class="col-md-12 iterviewQuestion">{{job.totalQuestion}} Questions</div>