
.custom-top-content{
    margin-top: 20px;
    margin-bottom: 20px;
    /*height: 65px;*/
}
.btnPersonList{
    margin-top: 15px;
    border-radius: 1px;
}
.duplicateLink{
    font-size: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.position-header{
    margin-top: 12px;
}
.whitte-background{
    background: white;
}
.darkbrown{
    color: #932D38;
}
.fateYellowBackground{
    background-color: #F7FFCC;
}
.app-footer{
    padding-bottom: 30px;
}
.link-box{
    border: 2px solid gainsboro;
    padding: 10px;
 }
 .padding-bottom{
     padding-bottom: 20px;
 }
 .padding-top{
     padding-top: 20px;
 }
 .big-font{
     font-size: 30px;
 }
 .social-icon{
     padding-top: 20px;
 }
 .recruitOn{
     color: #939393;
     padding-top: 12px;
     font-size: 18px;
 }
 .changeRecruit{
     padding-top: 12px;
 }
 .notificationSidebar{
     margin-left: 15px;
 }
 .recruit-date{
     color: #FC4D4D;
     padding-bottom: 10px;
     font-weight: bold;
 }
 .small-top-padding{
     padding-top: 10px;
 }
 .small-top-margin{
     margin-top: 10px;
 }
 .interviewerImage{
     width: 50px;
     padding-right: 5px;
 }
 .small-right-padding{
     padding-right: 20px;
     display: inline-block;
     padding-bottom: 20px;
 }
 .btnQuestionnaires{
     border-radius: 1px;
 }
 .iterviewQuestion{
     color: #939393;
     padding-bottom: 10px;
 }
 .candidate-recommender li{
    display: inline-block;
    margin-right: 10px;
}
.recommend-photo{
    width: 50px;
}
 
 /*social css*/
 .social-icon a.btn{
     color: #FFF;
     padding: 3px 10px;
 }
 .btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}
.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}
.btn-googleplus {
    background: #e93f2e;
    border-radius: 0;
    color: #fff
}
.btn-googleplus:link, .btn-googleplus:visited {
    color: #fff
}
.btn-googleplus:active, .btn-googleplus:hover {
    background: #ba3225;
    color: #fff
}
.btn-stumbleupon {
    background: #f74425;
    border-radius: 0;
    color: #fff
}
.btn-stumbleupon:link, .btn-stumbleupon:visited {
    color: #fff
}
.btn-stumbleupon:active, .btn-stumbleupon:hover {
    background: #c7371e;
    color: #fff
}
.btn-linkedin {
    background: #0e76a8;
    border-radius: 0;
    color: #fff
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff
}
.btn-linkedin:active, .btn-linkedin:hover {
    background: #0b6087;
    color: #fff
}
