
.custom-top-content{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 65px;
}
.btnPersonList{
    margin-top: 15px;
    border-radius: 1px;
}
.duplicateLink{
    font-size: 20px;
    padding-top: 18px;
}
.position-header{
    margin-top: 12px;
}
.whitte-background{
    background: white;
}
.darkbrown{
    color: #4d2926;
}
.fateYellowBackground{
    background-color: beige;
}
.app-footer{
    padding-bottom: 30px;
}
.link-box{
    -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
 }